
/* Inportação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

/* configuração geral da página */
*
{
    margin: 0;
    padding: 0;
}

/* Topo da tabela */

/* Corpo do topo */
header
{
    background-color: #490a9b;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 5px 10px rgb(89, 7, 197);
}

/* Titulo principal - topo*/
h1
{
    margin-bottom: 10px;
    line-height: 1.25;
    font-size: 2.9rem;
    color: #fff6f2;
    /* Sombra do texto */
    text-shadow: 0 0 10px #459abe;
}

/* Textos do topo da página */
header p
{
     color:#ffceff;
}

/* Navegação da página */
nav
{
    background-color: #a15ff1;
    border-top: 1px solid ;
    border-bottom: 1px solid ;

}

/* Configuração de dentro da navegação */
 nav ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-weight:bold;
}

/* Configuações dos links da navegação */
nav a
{
    color: #150073;
    padding: 6px 14px;
    border-radius: 40px;
}

/* Configuração ao passar o mouse */
nav a:hover
{
    background-color: #ce88ff;
    color: #d40000;
}


/* Corpo da pagina */
body
{
    font-family:  "Walter Turncoat", cursive;
    background-color: #9257db;
    color: #2f4858;
    line-height: 1.6;
}

/* Seleção de texto */
::selection
{
    background-color: #fcb1ff;
    color: #150073;
    
}

/* Segundo titulo */
h2
{
    margin-bottom: 10px;
    line-height: 1.25;
    font-size: 1.8rem;
    color: #000066;
    text-shadow: 0 0 1px #004fd1;
    text-align: center;
}

/* Configuração da imagem */
img
{
    max-width: 100%;
    height:auto ;
    border-radius: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: #490a9b;
}

/* Configuração do texto section/seção - Sobre - */
.texto-sobre
{
    color: #fde9ff;
    font-size: 1.17rem;
    text-align: center;
}

/* Textos/letras gerais */
p
{
    margin-bottom: 14px;
    color: #fde9ff;
    text-align: center;
}

/* Configuração dos links, referencias */
a
{
    color: #325082;
    text-decoration: none;
    transition: color 0.3s; 
}

/* Configurações das listas e links */
li, a
{
    color: #ffceff;
    list-style-type: none;
    text-align: center;
}


/* Configuração ao passar o mouse nos links da página */
a:hover
{
    color:#ff0000 ;
}

/* Corpo da página */

/* Configuração principal */
 main
 {
   max-width: 950px;
   margin: 30px auto;
   padding: 0 20px;
 }

 /* Configurações das seções/sections */
 main section
 {
    background-color: #7537c5;
    border: 2px solid #490a9b;
    border-radius: 10px;
    box-shadow: 0, 0, 20px, (rgb(109, 3, 231));
    padding: 25px;
    margin-bottom: 60px;
 }

 /* Configuração da tabela */
 table
 {
    width: 100%;
    background-color: #ffceff;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
    overflow: hidden;
 }

 /* Titulo da tabela */
 caption
 {
    font-size: 3rem;
    color: #c96fcd;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px #9257db;
 }

 /* Configuração da cabeça da tabela/legendas*/
 thead
{
    background: linear-gradient(90deg, #490a9b 20%,  #000066 80%);
}

/* Configuração das legendas da tabela */
 th
{
    font-size: 1.1rem;
    padding: 7px;
    border: none;
    text-align: center;
    border-bottom: 2px solid #400093;
    color: #fff5ff;
}

/* Configuração das células da tabela */
td
{
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #6e456f;
    color: #4089a9;
    font-weight: 500;
}

/* Configuração especifica das bordas da tabela */
th:first-child, td:first-child
{
    border-top-left-radius: 7px;
}

th:last-child, td:last-child
{
    border-top-right-radius: 7px;
}

/* Configuração do formulário */
 form
{
    display: grid;
    gap: 6px;
    background-color: #ffceff;
    padding: 20px 50px;
    border-radius: 15px;
}

/* Configuração do textos/label do formulario */
label
{
    font-weight: bold;
    color: #000066;
    text-align: left;
}

/* Configuração dos campos do formulário */
input, textarea
{
    width: auto;
    padding: 7px 7px;
    background: #ffffff;
    border: 1px solid #400093;
    border-radius: 5px;
}

/* Configuração do foco do formulario/ quando clicar para escrever */
input:focus, textarea:focus
{
    outline: none;
    border-color: #9257db;
    box-shadow: 0 0 5px #9257db;
}

/* Configuração do botão do formulario */
button
{
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(103, 5, 231, 0.651);
    width:auto;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(90deg,  #490a9b 0%,  #000066 80%);
}

/* Configuração especifica do botão do formulario */
.botão
{
    color: #ffffff;
}

/* Configutação da parte de baixo da página */
footer
{
    background-color: #000066;
    color: #fff6f2;
    text-align: center;
    padding: 10px 20px;
    text-shadow: 0 0 10px #b773ff;
}